body {
 height: 100vh;
}
.flex {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
width: 100vw;
}
.responsive {
height: auto
display: block;
width: 100%;
}
#dropdown {
 
}
.dropbtn {
 
}
.dropdown-content {
 
}
