@import url("https://fonts.googleapis.com/css?family=Lato");
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  background-color: firebrick;
  height: 100vh;
  width: 100vw;
  color: lightskyblue;
  font-family: "Lato", sans-serif;
}
#form-container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 70vh;
}
form {
  width: 30%;
}
textarea {
  width: 100%;
  text-align: left;
}
#submit {
  height: 30px;
  width: 70px;
  background-color: #fdfd96;
  border-color: black;
  font-weight: bold;
}
#submit:hover {
  background-color: lightskyblue;
  border-color: white;
  text-decoration: underline;
}
