@import url('https://fonts.googleapis.com/css?family=Lato');
body {
 height: 100vh;
 background-color: magenta;
 color: black;
 font-family: 'Lato', sans-serif;
}
.flex {
display: flex;
flex-direction: column;
justify-content: stretch;
align-items: flex-start;
width: 100vw;
}
